.about-item {
  width: 100%;
  max-width: 450px;
  padding: 10px;

  @include m-b-tablet-down {
    margin: 0 auto;
  }

  .lw-base-text {
    padding: 0;
    margin-bottom: 0;

    @include m-b-laptop-down {
      font-size: 14px;
      text-align: center;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 10px;

    @include m-b-laptop-down {
      flex-direction: column;
      align-items: center;
    }
  }

  &__header-value {
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 64px;
    margin-right: 10px;
    color: var(--danger);

    @include m-b-laptop-down {
      margin-right: 0;
    }
  }

  &__header-content {
    @extend .flex-column;

    .lw-title-sm {
      display: inline-block;
      font-weight: 700;
      margin-bottom: 0;
      text-align: left;

      &:not(:last-child) {
        margin-bottom: 0px;
      }

      @include m-b-laptop-down {
        text-align: center;      }
    }
  }
}
