.main-nav-opener {
  position: relative;
  @extend .btn-reset;
  @extend .flex-column;
  justify-content: space-between;
  width: 32px;
  height: 24px;

  cursor: pointer;

  @extend .hover-opacity;

  &__line {
    display: block;
    width: 100%;
    height: 2px;
    margin: 2px 0;
    border-radius: 3px;
    background-color: var(--white);
  }
}

.main-nav-closer {
  @extend .btn-reset;

  position: relative;
  width: 32px;
  height: 32px;

  cursor: pointer;

  & > .main-nav-closer__line {
    display: block;
    position: absolute;
    top: 0;
    left: 15px;
    height: 33px;
    width: 2px;
    border-radius: 3px;

    background-color: var(--white);

    &:first-child {
      transform: rotate(45deg);
    }

    &:last-child {
      transform: rotate(-45deg);
    }
  }
}
