.case-card {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 20px;

  @include m-b-down(960px) {
    grid-template-columns: 1fr;
  }

  img {
    width: 100%;
    height: auto;
    max-height: 400px;
    object-fit: contain;

    @include m-b-down(960px) {
      display: none;
    }
  }

  &__content {
    padding: 0 20px;

    @include m-b-tablet-down {
      padding: 0;
    }

    &-detail {
      strong {
        color: var(--primary);
      }

      p,span,li {
        @extend .lw-base-text;
        font-size: 14px;
        color: var(--primary);
      }
    }
  }
}
