.iconed-item {
  @extend .flex-column;
  align-items: center;
  padding: 5px;
  height: 100%;

  img {
    margin-bottom: 20px;

    @include m-b-down(960px) {
      width: 70px;
      height: 70px;
    }

    @include m-b-tablet-down {
      width: 60px;
      height: 60px;
    }

    @include m-b-mobile-lg-down {
      margin-bottom: 10px;
    }
  }

  .lw-title-sm {
    margin-bottom: 0;
  }

  .lw-base-text {
    margin: 10px 0;
    text-align: center;
  }
}
