.main-logo {
  @extend .flex-centered-content;
  @extend .hover-opacity;

  img {
    width: 120px;
    height: auto;
    object-fit: contain;

    @include m-b-mobile-lg-down {
      width: 100px;
    }
  }
}
