.swiper-button-next,
.swiper-button-prev {
  color: var(--primary);

  @include m-b-mobile-lg-down {
    &::after {
      font-size: 30px;
    }
  }

  @include m-b-down(420px) {
    &::after {
      font-size: 20px;
    }
  }

  @include m-b-down(368px) {
    display: none;
  }
}

.swiper-button-prev {
  @include m-b-mobile-lg-down {
    left: 0;
  }
}

.swiper-button-next {
  @include m-b-mobile-lg-down {
    right: 0;
  }
}

.main-slider {
  &.staff-slider {
    max-width: 1000px;
  }

  &.case-slider {
    max-width: 850px;

    @include m-b-tablet-down {
      max-width: 400px;
    }
  }

  &-container {
    position: relative;
    width: fit-content;
    max-width: 100%;
    padding: 0 100px;
    margin-bottom: 60px;

    @include m-b-laptop-down {
      padding: 0 75px;
    }

    @include m-b-tablet-down {
      padding: 0 50px;
    }

    @include m-b-mobile-lg-down {
      padding: 0 30px;
    }

    @include m-b-down(420px) {
      padding: 0 20px;
    }

    @include m-b-down(368px) {
      padding: 0;
    }
  }
}
