.advantages {

  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    margin-bottom: 50px;

    @include m-b-down(1240px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include m-b-tablet-down {
      display: flex;
      flex-direction: column;
    }
  }

  &__list-item {
    &:last-child {
      @include m-b-down(1240px) {
        grid-column: 1/3;
      }
    }
  }

  &__desc {
    max-width: 1200px;
    text-align: center;
  }

  .illustrated-item {
    height: 100%;

    img {
      max-width: 280px;
    }
  }

  .illustrated-item__content .lw-title-sm,
  .illustrated-item__content .lw-base-text {
    text-align: center;
  }
}
