.comparing {
  &__table {
    min-width: 600px;
    border-collapse: collapse;

    td {
      font-weight: 600;
      padding: 10px;
      color: var(--primary);

      @include m-b-laptop-down {
        font-size: 16px;
      }

      @include m-b-tablet-down {
        font-size: 14px;
        padding: 5px;
      }

      &:first-child {
        width: 40%;
        max-width: 600px;
        min-width: 300px;

        @include m-b-laptop-down {
          width: 55%;
        }
      }

      &:not(:first-child) {
        text-align: center;
        border-left: 1px solid var(--secondary);
      }

      width: 20%;
      max-width: 300px;
      min-width: 125px;

      @include m-b-laptop-down {
        width: 15%;
      }

      img {
        width: 40px;
        height: auto;
        object-fit: contain;

        @include m-b-tablet-down {
          width: 30px;
        }
      }

      border-bottom: 1px solid var(--secondary);

    }

    tr {
      &:first-child td {
        text-align: center;
      }
    }
  }
}


