.features {
  &__list {
    @extend .list-reset;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 30px;
    margin-bottom: 40px;
    padding: 0 25px;

    @include m-b-tablet-down {
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 15px;
    }

    @include m-b-mobile-lg-down {
      grid-template-columns: 1fr;
      grid-gap: 10px;
    }
  }

  &__list-item {
    height: 100%;
  }
}
