.hero {
  position: relative;
  @extend .flex-column;

  height: fit-content;
  min-height: 675px;
  padding-top: 290px;
  margin-top: -175px;
  transform: skew(0, -4deg);
  margin-bottom: 60px;
  border-bottom: 32px solid var(--danger);
  background-color: var(--primary);
  background: linear-gradient(226.59deg, #172755 24.26%, #2F4DA5 117.16%);

  @include m-b-tablet-down {
    margin-bottom: 30px;
    padding-top: 250px;
    padding-bottom: 0;
  }

  @include m-b-mobile-lg-down {
    min-height: 574px;
  }

  &__container {
    @extend .flex-column;
    align-items: center;
    justify-content: center;
    margin: auto;
    transform: skew(0, 4deg);
    padding-top: 50px;
    padding-bottom: 50px;

    @include m-b-tablet-down {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }
}
