.licenses {
  &__grid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px;
    align-items: center;

    @include m-b-laptop-down {
      grid-gap: 10px;
      align-items: flex-start;
    }

    @include m-b-tablet-down {
      grid-template-columns: 1fr;
      padding-bottom: 70px;
    }
  }

  &__grid-item {
    @extend .flex-column;

    .lw-section-title {
      text-align: left;
      margin: 0;
      margin-bottom: 10px;
    }

    .lw-main-btn {
      line-height: 1.2;
    }

    @include m-b-tablet-down {
      &:nth-child(2) {
        order: 1;
      }

      &:nth-child(1) {
        order: 2;
      }

      img {
        margin-bottom: 20px;
        max-height: 400px;
        object-fit: contain;
        object-position: left;
      }

      .lw-main-btn {
        position: absolute;
        bottom: 0;
        left: 0;
      }
    }
  }
}
