.portfolio {
  &__container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__btn {
    @include m-b-down(576px) {
      margin: 0 auto;
    }
  }

  .main-slider-container {
    margin-bottom: 30px;

    @include m-b-down(576px) {
      padding-bottom: 60px;
    }
  }

  .swiper-controls {
    position: relative;
    height: 50px;
    position: absolute;
    bottom: -80px;
    right: 30px;

    @include m-b-down(576px) {
      right: initial;
      left: 50%;
      height: 40px;
      bottom: 0;
      transform: translateX(-50%);

      .swiper-button-next,
      .swiper-button-prev {
        color: var(--primary);
      }

      .swiper-pagination-bullet,
      .swiper-pagination-bullet-active  {
        border: var(--primary);
        background-color: var(--primary);
      }
    }
  }
}
