.results {
  &__list {
    @extend .list-reset;
    max-width: 1160px;
    margin: 0 auto;
  }

  &__list-item {
    position: relative;
    padding-left: 45px;
    margin-bottom: 25px;

    .lw-title-sm {
      text-align: initial;
    }

    svg {
      position: absolute;
      top: -5px;
      left: 0;
      fill: var(--danger);
    }
  }
}
