.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);

    @include m-b-mobile-lg-down {
      padding: 0 10px;
    }
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-fluid-width);
  }

  &-main-title {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    max-width: 1280px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--white);

    @include m-b-desktop-down {
      font-size: 48px;
    }

    @include m-b-laptop-down {
      font-size: 40px;
    }

    @include m-b-tablet-down {
      font-size: 28px;
    }

    @include m-b-mobile-lg-down {
      font-size: 24px;
      padding: 0;
      //margin-bottom: 0;
    }
  }

  &-main-text {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    margin-bottom: 70px;
    max-width: 1000px;
    padding: 0 20px;
    color: var(--info);

    @include m-b-desktop-down {
      font-size: 20px;
    }

    @include m-b-tablet-down {
      font-size: 18px;
      margin-bottom: 40px;
    }

    @include m-b-mobile-lg-down {
      font-size: 14px;
      padding: 0;
      margin-bottom: 30px;
    }
  }

  &-main-btn {
    @extend .btn-reset;
    @extend .flex-centered-content;
    padding: 12px 15px 10px;
    width: fit-content;
    min-height: 50px;
    text-transform: uppercase;
    line-height: 1.4;
    border-radius: 10px;
    text-align: center;
    color: var(--white);
    background-color: var(--danger);

    letter-spacing: 0.01em;

    @extend .hover-opacity;

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }

  &-section {
    padding: 50px 0;

    @include m-b-laptop-down {
      padding: 40px 0;
    }

    @include m-b-tablet-down {
      padding: 35px 0;
    }

    @include m-b-mobile-lg-down {
      padding: 20px 0;
    }
  }

  &-skew-section {
    height: fit-content;
    margin-top: 80px;
    transform: skew(0, -4deg);
    margin-bottom: 60px;
    border-top: 32px solid var(--danger);
    border-bottom: 32px solid var(--danger);
    background-color: var(--primary);
    background: linear-gradient(226.59deg, #172755 24.26%, #2F4DA5 117.16%);

    .lw-section-title {
      color: var(--white);
    }

    .lw-skew-section-container {
      @extend .flex-column;
      align-items: center;
      justify-content: center;
      margin: auto;
      transform: skew(0, 4deg);
      padding-top: 50px;
      padding-bottom: 50px;

      @include m-b-tablet-down {
        padding-top: 50px;
        padding-bottom: 50px;
      }
    }
  }

  &-section-column-container {
    @extend .flex-column;
    align-items: center;
  }

  &-section-title {
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    margin: 0 auto;
    margin-bottom: 50px;

    color: var(--primary);

    @include m-b-desktop-down {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @include m-b-laptop-down {
      font-size: 30px;
    }

    @include m-b-tablet-down {
      font-size: 28px;
      margin-bottom: 20px;
    }

    @include m-b-mobile-lg-down {
      font-size: 22px;
    }
  }

  &-title-sm {
    display: inline-block;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 10px;

    color: var(--primary);

    @include m-b-laptop-down {
      font-size: 18px;
    }

    @include m-b-tablet-down {
      font-size: 16px;
    }
  }

  &-base-text {
    font-size: 18px;
    font-weight: 500;
    color: var(--secondary);

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }
  /*&-base-text {
    margin-top: 0;
    color: var(--secondary);
    opacity: .6;
    max-width: 800px;

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }*/


  &-table-wrapper {
    width: 100%;
    overflow: hidden;
    overflow-x: auto;
  }

  &-accent-color {
    color: var(--danger);
  }

  &-primary-color {
    color: var(--primary);
  }
}
