.lw {
  &-container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-width);
  }

  &-container-fluid {
    width: 100%;
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: var(--container-fluid-width);
  }

  &-main-title {
    font-size: 56px;
    font-weight: 700;
    text-align: center;
    margin: 0 40px;
    margin-bottom: 20px;
    color: var(--white);

    @include m-b-desktop-down {
      font-size: 44px;
    }

    @include m-b-laptop-down {
      font-size: 36px;
    }

    @include m-b-tablet-down {
      font-size: 24px;
    }

    @include m-b-mobile-lg-down {
      font-size: 18px;
    }
  }

  &-main-text {
    display: inline-block;
    font-size: 24px;
    text-align: center;
    margin-bottom: 70px;
    max-width: 1000px;
    color: var(--info);

    @include m-b-desktop-down {
      font-size: 20px;
    }

    @include m-b-tablet-down {
      font-size: 18px;
    }
  }

  &-main-btn {
    @extend .btn-reset;
    @extend .flex-centered-content;
    padding: 15px 25px 13px;
    width: fit-content;
    min-height: 50px;
    text-transform: uppercase;
    line-height: 1;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--danger);

    @extend .hover-opacity;
  }

  &-section {
    padding: 50px 0;
  }

  &-section-column-container {
    @extend .flex-column;
    align-items: center;
  }

  &-section-title {
    font-family: var(--secondary-font);
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 50px;

    color: var(--primary);

    @include m-b-desktop-down {
      font-size: 32px;
      margin-bottom: 40px;
    }

    @include m-b-laptop-down {
      font-size: 28px;
      margin-bottom: 35px;
    }

    @include m-b-tablet-down {
      font-size: 20px;
      margin-bottom: 30px;
    }

    @include m-b-mobile-lg-down {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &-title-sm {
    font-family: var(--secondary-font);
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;

    color: var(--primary);

    @include m-b-laptop-down {
      font-size: 18px;
    }

    @include m-b-tablet-down {
      font-size: 16px;
    }

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }

  &-base-text {
    color: var(--secondary);

    @include m-b-mobile-lg-down {
      font-size: 14px;
    }
  }

  &-accent-color {
    color: var(--danger);
  }
}
