@include font-face("PFBeauSansPro", "PFBeauSansPro-Regular", 400, normal);
@include font-face("PFBeauSansPro", "PFBeauSansPro-Bold", 700, normal);

@include font-face("Poppins", "Poppins-SemiBold", 500, normal);
@include font-face("Poppins", "Poppins-Bold", 700, normal);
@include font-face("Poppins", "Poppins-ExtraBold", 800, normal);

@include font-face("Roboto", "Roboto-Regular", 400, normal);
