*,
*::before,
*::after {
  box-sizing: inherit;
  border-radius: 0;

  @extend .main-scroll;
}

html {
  box-sizing: border-box;
  min-height: fill-available;
  min-height: -webkit-fill-available;
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  min-height: 100vh;
  //min-height: fill-available;
  //min-height: -webkit-fill-available;
  //-webkit-text-size-adjust: none;
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: var(--main-font, sans-serif);
  font-weight: 400;
  line-height: 1.2;
  background-color: var(--main-bg-color);

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  &.body-locked {
    overflow: hidden;
  }
}

footer {
  margin-top: auto;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

a {
  text-decoration: none;
}
