/* Базовые подключения */
@import "vendor";
@import "vars";
@import "mixins";
@import "fonts";
@import "global";
@import "extends";
@import "common";


@import "./layout/header";

/* Компоненты */
@import "./components/blockquote";
@import "./components/main-logo";
@import "./components/bitrix-logo";
@import "./components/main-nav";
@import "./components/burger";
@import "./components/illustrated-item";
@import "./components/iconed-item";
@import "./components/about-item";
@import "./components/main-slider";
@import "./components/clients-slider";
@import "./components/staff-card";
@import "./components/case-card";
@import "./components/price-card-list";
@import "./components/price-card";
@import "./components/offer-form";

/* Секции */
@import "./sections/hero";
@import "./sections/advantages";
@import "./sections/features";
@import "./sections/services";
@import "./sections/skew-section";
@import "./sections/workflow";
@import "./sections/results";
@import "./sections/about";
@import "./sections/clients";
@import "./sections/licenses";
@import "./sections/offer";
@import "./sections/contacts";
/* Модальные окна */


