/* Базовые подключения */
@import "vendor";
@import "vars";
@import "mixins";
@import "fonts";
@import "global";
@import "extends";
@import "common";


@import "./layout/header";

/* Компоненты */
@import "./components/main-logo";
@import "./components/bitrix-logo";
@import "./components/main-nav";
@import "./components/burger";
@import "./components/iconed-item";
@import "./components/about-item";

/* Секции */
@import "./sections/hero";
@import "./sections/features";
@import "./sections/services";
@import "./sections/results";
@import "./sections/about";
@import "./sections/licenses";
@import "./sections/contacts";
/* Модальные окна */


