button(type="button" aria-label="Кнопка открытия/закрытия меню").main-nav-opener
  span(aria-hidden="true").main-nav-opener__line.main-nav-opener__line--top
  span(aria-hidden="true").main-nav-opener__line.main-nav-opener__line--middle
  span(aria-hidden="true").main-nav-opener__line.main-nav-opener__line--bottom
