button(type="button" aria-label="Кнопка открытия/закрытия меню").burger
  span(aria-hidden="true").burger__line.burger__line--top
  span(aria-hidden="true").burger__line.burger__line--middle
  span(aria-hidden="true").burger__line.burger__line--bottom
