.developer
  a(href="littleweb.ru" aria-label="littleweb.ru - создание сайтов под ключ" rel="nofollow noreferrer nofollow")
    img(src="./assets/img/developer-icon.svg" alt="littleweb.ru - создание сайтов под ключ" width="150" height="40")
