nav.main-nav.active

  ul.main-nav__list
    li.main-nav__list-item
      a(href="#") Главная

    li.main-nav__list-item
      a(href="#") Сферы деятельности

    li.main-nav__list-item
      a(href="#") Наши услуги

    li.main-nav__list-item
      a(href="#") Цены

    li.main-nav__list-item
      a(href="#") О нас

    li.main-nav__list-item
      a(href="#") Контакты

  include ./burger
