nav.main-nav
  .main-nav__container
    .main-nav__header
      include ../components/main-logo
      include ../components/main-nav-closer
    ul.main-nav__list
      li.main-nav__list-item
        a(href="#") Главная

      li.main-nav__list-item
        a(href="#") О СИСТЕМЕ

      li.main-nav__list-item
        a(href="#") КОРОБОЧНАЯ ВЕРСИЯ

      li.main-nav__list-item
        a(href="#") ПРОДАЖА И ПРОДЛЕНИЕ ЛИЦЕНЗИЙ

      li.main-nav__list-item
        a(href="#") ИНТЕГРАЦИЯ WhatsApp с БИТРИКС24

      li.main-nav__list-item
        a(href="#") Контакты

    .main-nav__contacts
      a(href="mailto:hello@crmanalytics.ru") hello@crmanalytics.ru
      a(href="tel:+79219260260") +7 921 926 02 60

    .main-nav__social
      include ./social


