.workflow-table

  .workflow-grid


    .workflow-grid-item
      span.lw-title-sm <span class="lw-accent-color">Шаг 1.</span>Аудит бизнес-процессов
      p.lw-base-text Проанализируем процессы вашей компании, подготовим детальный отчет и составим план внедрения Битрикс24.

    .workflow-grid-item
      span.lw-title-sm <span class="lw-accent-color">Шаг 2.</span>Разработка ТЗ
      p.lw-base-text Разработаем техническое задание, исходя из ваших интересов, учтём все моменты.

    .workflow-grid-item
      span.lw-title-sm <span class="lw-accent-color">Шаг 3.</span>Внедрение
      p.lw-base-text По результатам аудита произведем доработку и оптимизацию функционала Битрикс24 под ваши задачи и бизнес-процессы.

    .workflow-grid-item
      span.lw-title-sm <span class="lw-accent-color">Шаг 4.</span>Обучение
      p.lw-base-text Очно или дистанционно проведем обучение работе в системе, напишем инструкции, ответим на вопросы сотрудников.

    .workflow-grid-item
      span.lw-title-sm <span class="lw-accent-color">Шаг 5.</span>Сопровождение
      p.lw-base-text Берем на контроль правильное функционирование системы, информируем об обновлениях, работаем над оптимизацией.

    .workflow-line(aria-hidden="true")
      .workflow-line-item
      .workflow-line-item
      .workflow-line-item
      .workflow-line-item
      .workflow-line-item

