extends layouts/main-layout.pug

block variables
  -
    const title = "CRMAnalytics"
    const desc = "Описание"
    const keywords = "Ключевые слова"

block content
  include ./views/inner-page-view

block modals

