mixin case-card(data)
  .case-card
    .case-card__top
      .case-card__top-content
        p
          strong Цели:
        p Продвижение сайта в регионе Москва в ТОП 10 поисковых систем.
        p
          strong Условия:

        ul
          li Бюджет проекта 70т.р.
          li Только белые методы оптимизации
          li Есть свой программист, Tilda CMS

        p
          strong Результаты:

        ul
          li В 17 раз выросло число посетителей в месяц
          li 81% частотных запросов с сайта выведен в ТОП-10
          li На 80% увеличилось количество заказов

      img(src=`./assets/img/${data.img}` alt= data.title width="300" height="300")
    .case-card__bottom
      p
        | За год клиника открыла 2 новых филиала и обеспечила их загрузку за счет качественного подбора семантического ядра (ключей), работы со ссылками и над важными факторами ранжирования,использования белых методов продвижения, подключения сервисов аналитики, работы с контентом и написания массы качественных статей.
        | Благодаря качественному интернет-маркетингу от SEO-специалиста в клинике открыты новые направления в родном городе, что привело к набору уровня основных клиентов и загрузке администраторов на 89%.

    //.case-card__content
      span.lw-title-sm!= data.title

      .case-card__content-detail
        p
          strong Цели:
        p Продвижение сайта в регионе Москва в ТОП 10 поисковых систем.
        p
          strong Условия:

        ul
          li Бюджет проекта 70т.р.
          li Только белые методы оптимизации
          li Есть свой программист, Tilda CMS

        p
          strong Результаты:

        ul
          li В 17 раз выросло число посетителей в месяц
          li 81% частотных запросов с сайта выведен в ТОП-10
          li На 80% увеличилось количество заказов

        p
          | За год клиника открыла 2 новых филиала и обеспечила их загрузку за счет качественного подбора семантического ядра (ключей), работы со ссылками и над важными факторами ранжирования,использования белых методов продвижения, подключения сервисов аналитики, работы с контентом и написания массы качественных статей.
          | Благодаря качественному интернет-маркетингу от SEO-специалиста в клинике открыты новые направления в родном городе, что привело к набору уровня основных клиентов и загрузке администраторов на 89%.

    //
