include ../../mixins/bitrix-contain-title

section.lw-section
  .lw-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'О нас',
      bitrixLogoExcluded: true
    })

    div.about__list
      .about-item
        .about-item__header
          span.about-item__header-value 7
          .about-item__header-content
            span.lw-title-sm лет опыта
            span.lw-title-sm.lw-accent-color в сфере CRM

        p.lw-base-text Мы работаем в сфере внедрения CRM с 2014 года.

      .about-item
        .about-item__header
          span.about-item__header-value 3
          .about-item__header-content
            span.lw-title-sm лицензированных
            span.lw-title-sm.lw-accent-color сотрудника

        p.lw-base-text Все наши сотрудники проходят обязательную аттестацию.

      .about-item
        .about-item__header
          span.about-item__header-value 100+
          .about-item__header-content
            span.lw-title-sm выполненных
            span.lw-title-sm.lw-accent-color проектов

        p.lw-base-text Каждый 2-й клиент остается снами на постоянное сотрудничество.



