include ../../mixins/bitrix-contain-title
include ../../mixins/blockquote

section.lw-section.about
  .lw-container.about__container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'О компании <span class="lw-accent-color">Crm</span>Analytics',
      bitrixLogoExcluded: true
    })

    .about__list
      .about-item
        .about-item__header
          span.about-item__header-value 7
          .about-item__header-content
            span.lw-title-sm лет опыта
            span.lw-title-sm.lw-accent-color в сфере CRM

        p.lw-base-text Мы работаем в сфере внедрения CRM с 2014 года.

      .about-item
        .about-item__header
          span.about-item__header-value 3
          .about-item__header-content
            span.lw-title-sm лицензированных
            span.lw-title-sm.lw-accent-color сотрудника

        p.lw-base-text Все наши сотрудники проходят обязательную аттестацию.

      .about-item
        .about-item__header
          span.about-item__header-value 100+
          .about-item__header-content
            span.lw-title-sm выполненных
            span.lw-title-sm.lw-accent-color проектов

        p.lw-base-text Каждый 2-й клиент остается снами на постоянное сотрудничество.

    .about__content
      img(src="./assets/img/about-content-img.png" alt="О нас" width="500" height="330").about__content-img

      .about__content-text
        p.lw-base-text Мы - команда с широкими взглядами: руководитель проекта, бизнес-аналитики, технические специалисты, менеджеры по внедрению.
        p.lw-base-text Каждый сотрудник компании отвечает за задачи из своей зоны ответственности. Работаем с 2016 года.
        p.lw-base-text За 5 лет мы помогли 300 компаниям получить новый опыт и знания в области внедрения CRM-систем.
        p.lw-base-text Компания является Золотым сертифицированным партнером Битрикс24 и входит в рейтинг лучших в Санкт-Петербурге.


    +blockquote({
      content: [
        'Гарантия результата внедрения и сопровождения информационных систем за счет системного подхода при постановке и решении задач.',
        'Для себя мы решили, что качество сервиса, положительный опыт работы с ним, а значит — и лояльность клиентов, напрямую зависят от внимания к деталям. Для этого подход к работе должен быть безупречным и работать четко, как швейцарские часы.'
      ]
    })





