include ../../mixins/bitrix-contain-title
include ../../mixins/illustrated-item

section.lw-section.comparing
  .lw-container.lw-section-column-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Почему выберают',
      bitrixLogoExcluded: false
    })

    .lw-table-wrapper
      table.comparing__table
        tr
         td
         td.lw-base-text БИТРИКС24
         td.lw-base-text Мегаплан
         td.lw-base-text 1C CRM

        tr
          td.lw-base-text Интеграция с любыми сайтами
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")

        tr
          td.lw-base-text Интеграция с любой IP-телефонией
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")
        tr
          td.lw-base-text Звонки прямо из CRM-системы
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")

        tr
          td.lw-base-text Подходит для холодных звонков
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")

        tr
          td.lw-base-text Интеграция с почтой
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")

        tr
          td.lw-base-text Множественные воронки продаж
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")

        tr
          td.lw-base-text Воронка продаж для постоянных покупателей (повторяющиеся абонентские платежи)
          td
            img(src="./assets/img/icon-check-up.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")
          td
            img(src="./assets/img/icon-none.svg" alt="" width="60" height="60")
















