include ../../mixins/bitrix-contain-title
include ../../mixins/main-btn
include ../../mixins/iconed-icon
include ../../mixins/case-card

section.lw-section.features
  .lw-container.lw-section-column-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Мы специализируемся на',
      epilog: '<br>и&nbsp;уже увеличили продажи в&nbsp;этих отраслях'
    })

    ul.features__list
      li.features__list-item
        +iconed-icon({
          iconPath: 'features-icon/retail-icon',
          iconW: '80',
          iconH: '80',

          title: 'Опт и розница'
        })
      li.features__list-item
        +iconed-icon({
          iconPath: 'features-icon/tender-icon',
          iconW: '80',
          iconH: '80',

          title: 'Тендеры'
        })
      li.features__list-item
        +iconed-icon({
          iconPath: 'features-icon/hr-icon',
          iconW: '80',
          iconH: '80',

          title: 'HR-аналитика'
        })
      li.features__list-item
        +iconed-icon({
          iconPath: 'features-icon/prod-icon',
          iconW: '80',
          iconH: '80',

          title: 'Производственные компании'
        })

    .main-slider-container
      .swiper.main-slider.case-slider
        .swiper-wrapper
          .swiper-slide
            +case-card({
              img: 'case-card.jpg',
              title: 'Внедрение БИТРИКС24 в компанию сферы услуг',
              text: 'Внедрение Битрикс24 для компании ООО "Строй-Эксперт Консалт"'
            })
          .swiper-slide
            +case-card({
              img: 'case-card.jpg',
              title: 'Внедрение БИТРИКС24 в компанию сферы услуг',
              text: 'Внедрение Битрикс24 для компании ООО "Строй-Эксперт Консалт"'
            })
          .swiper-slide
            +case-card({
              img: 'case-card.jpg',
              title: 'Внедрение БИТРИКС24 в компанию сферы услуг',
              text: 'Внедрение Битрикс24 для компании ООО "Строй-Эксперт Консалт"'
            })

      .swiper-button-prev
      .swiper-button-next

    +main-btn({
      tag: 'button',
      type: 'button',
      cls: '',
      btnText: 'Получить кейсы на почту'
    })
