include ../../mixins/bitrix-contain-title
include ../../mixins/main-btn

section.lw-section.features
  .lw-container
    .features__grid
      .features__grid-item
        +bitrix-contain-title({
          tag: 'h2',
          prolog: 'Чем мы можем вам помочь',
          bitrixLogoExcluded: true
        })

        ul.features__list
          li.features__list-item.lw-base-text Продвину лучше и дешевле, чем в агентстве
          li.features__list-item.lw-base-text Предоставлю оперативную связь и быстрый результат
          li.features__list-item.lw-base-text Подберу индивидуальный подход в сотрудничестве
          li.features__list-item.lw-base-text Проведу предварительную консультацию
          li.features__list-item.lw-base-text Расскажу, как улучшить сайт до начала работ
          li.features__list-item.lw-base-text Помогу выбрать стратегию SEO-продвижения

        +main-btn({
          tag: 'a',
          href: 'company.html',
          cls: '',
          btnText: 'Заказать внедрение'
        })

      .features__grid-item
        img(src="./assets/img/feature-section-bg.png" alt="Сертификат партнера" width="700" height="440")

