include ../../mixins/bitrix-contain-title
include ../../mixins/features-list

section.lw-section
  .lw-container.lw-section-column-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Ограничения',
      bitrixLogoExcluded: true
    })

    +features-list([
      {
        img: 'illustrations/features/1.png',
        imgW: '300',
        imgH: '300',

        cls: 'illustrated-item--column',
        title: 'Отсутствие времени у руководителя',
      },
      {
        img: 'illustrations/features/1.png',
        imgW: '300',
        imgH: '300',

        cls: 'illustrated-item--column',
        title: 'Бюджет',
      },

      {
        img: 'illustrations/features/1.png',
        imgW: '300',
        imgH: '300',

        cls: 'illustrated-item--column',
        title: 'Еще что то',
      },

      {
        img: 'illustrations/features/1.png',
        imgW: '300',
        imgH: '300',

        cls: 'illustrated-item--column',
        title: 'Еще что то',
      }
    ])
