include ../../mixins/bitrix-contain-title

section.lw-section
  .lw-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Результаты сотрудничества',
      bitrixLogoExcluded: true
    })

    ul.results__list
      li.results__list-item
        svg(width="40" height="40")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span.lw-title-sm Все клиенты под контролем
        p.lw-base-text Все данные по вашим клиентам хранятся в единой структурированной базе, что позволяет легко находить нужную информацию, видеть всю историю взаимодействий, сегментировать клиентов, эффективно управлять сделками.

      li.results__list-item
        svg(width="40" height="40")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span.lw-title-sm Объединены коммуникации
        p.lw-base-text CRM система учитывает все коммуникации с клиентами, клиентская база пополняется автоматически из разных каналов связи: телефонии, электронной почты, заявок с сайта, социальных сетей, учетных программ.

      li.results__list-item
        svg(width="40" height="40")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span.lw-title-sm Автоматизирована воронка продаж
        p.lw-base-text CRM сама ведет клиента по воронке продаж: от холодного контакта до успешной сделки. Роботы CRM отправляют клиентам письма, sms, голосовые сообщения, показывают рекламу, ставят задания менеджерам.

      li.results__list-item
        svg(width="40" height="40")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span.lw-title-sm Настроены аналитические отчеты
        p.lw-base-text Благодаря настройке CRM вы сможете распределять план между сотрудниками, следить за нагрузкой на менеджеров и анализировать продажи. Следите за историей взаимодействий: кто, что и когда делал в CRM.

      li.results__list-item
        svg(width="40" height="40")
          use(xlink:href="./assets/sprite.svg#icon-check")

        span.lw-title-sm Повышен уровень клиентского сервиса
        p.lw-base-text CRM помогает стандартизировать обслуживание клиентов для всех менеджеров, максимально снизить количество ошибочных и ненужных действий, повысить лояльность клиентов и, как следствие, улучшить финансовые показатели.
