include ../../mixins/bitrix-contain-title
include ../../mixins/illustrated-item

section.lw-section
  .lw-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Результаты сотрудничества',
      bitrixLogoExcluded: true
    })

    ul.main-list
      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/1.svg',
          imgW: '400',
          imgH: '280',

          cls: 'illustrated-item--rtl',
          title: 'Все клиенты под контролем',
          text: 'Все данные по вашим клиентам хранятся в единой структурированной базе, что позволяет легко находить нужную информацию, видеть всю историю взаимодействий, сегментировать клиентов, эффективно управлять сделками.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/2.svg',
          imgW: '400',
          imgH: '280',

          title: 'Объединены коммуникации',
          text: 'CRM система учитывает все коммуникации с клиентами, клиентская база пополняется автоматически из разных каналов связи: телефонии, электронной почты, заявок с сайта, социальных сетей, учетных программ.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/3.svg',
          imgW: '400',
          imgH: '280',

          cls: 'illustrated-item--rtl',
          title: 'Автоматизирована воронка продаж',
          text: 'CRM сама ведет клиента по воронке продаж: от холодного контакта до успешной сделки. Роботы CRM отправляют клиентам письма, sms, голосовые сообщения, показывают рекламу, ставят задания менеджерам.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/4.svg',
          imgW: '400',
          imgH: '280',

          title: 'Настроены аналитические отчеты',
          text: 'Благодаря настройке CRM вы сможете распределять план между сотрудниками, следить за нагрузкой на менеджеров и анализировать продажи. Следите за историей взаимодействий: кто, что и когда делал в CRM.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/5.svg',
          imgW: '400',
          imgH: '280',

          cls: 'illustrated-item--rtl',
          title: 'Повышен уровень клиентского сервиса',
          text: 'CRM помогает стандартизировать обслуживание клиентов для всех менеджеров, максимально снизить количество ошибочных и ненужных действий, повысить лояльность клиентов и, как следствие, улучшить финансовые показатели.'
        })
