include ../../mixins/bitrix-contain-title
include ../../mixins/main-btn
include ../../mixins/staff-card

section.lw-section
  .lw-container.lw-section-column-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Наша команда',
      bitrixLogoExcluded: true
    })

    .main-slider-container
      .swiper.main-slider.staff-slider
        .swiper-wrapper
          .swiper-slide
            +staff-card({
              img: 'staff-card.jpg',
              name: 'Константин Константинов',
              desc: 'Финансовый директор компании CRM-analytic',
              text: 'Финансовый директор также занимается управлением активами и финансовым планированием. Он следит за состоянием денежных потоков предприятия, оптимизирует использование ресурсов и осуществляет финансовое планирование на среднесрочную и долгосрочную перспективы.'
            })

          .swiper-slide
            +staff-card({
              img: 'staff-card.jpg',
              name: 'Константин Константинов',
              desc: 'Финансовый директор компании CRM-analytic',
              text: 'Финансовый директор также занимается управлением активами и финансовым планированием. Он следит за состоянием денежных потоков предприятия, оптимизирует использование ресурсов и осуществляет финансовое планирование на среднесрочную и долгосрочную перспективы.'
            })

          .swiper-slide
            +staff-card({
              img: 'staff-card.jpg',
              name: 'Константин Константинов',
              desc: 'Финансовый директор компании CRM-analytic',
              text: 'Финансовый директор также занимается управлением активами и финансовым планированием. Он следит за состоянием денежных потоков предприятия, оптимизирует использование ресурсов и осуществляет финансовое планирование на среднесрочную и долгосрочную перспективы.'
            })

      .swiper-button-prev
      .swiper-button-next

    +main-btn({
      tag: 'a',
      url: 'company.html',
      cls: '',
      btnText: 'Подробнее'
    })

