include ../../mixins/bitrix-contain-title
include ../../mixins/illustrated-item

section.lw-section
  .lw-container
    ul.main-list

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/2.png',
          imgW: '400',
          imgH: '280',

          title: '<span class="bitrix-logo">Битрикс<span>24</span></span> НА ВАШЕМ СЕРВЕРЕ',
          text: 'Битрикс24 в «коробке» – это копия облачной версии Битрикс24 и даже больше, с которой можно работать на своём сервере. Система включает в себя все необходимые инструменты для организации работы компании, роста продаж и автоматизации бизнеса.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/3.png',
          imgW: '400',
          imgH: '280',

          cls: 'illustrated-item--rtl',
          title: 'ОТКРЫТЫЙ ИСХОДНЫЙ КОД',
          text: 'Своими силами или с привлечением наших специалистов можно дорабатывать интерфейс и функциональность 1С-Битрикс24 под индивидуальные потребности и бизнес-логику вашей компании без ограничений.'
        })

      li.main-list__item
        +illustrated-item({
          img: 'illustrations/results/4.png',
          imgW: '400',
          imgH: '280',

          title: 'КАСТОМИЗАЦия',
          text: 'Битрикс24 позаботился о том, чтобы пользователь имел возможность менять дизайн интерфейса согласно общего стиля своей компании или предписаниям разработанного брендбука без каких-либо ограничений.Выгода такой кастомизации – вы покупаете обычный типовой 1C-Битрикс24 и сами создаёте имидж вашей компании, делая 1C-Битрикс24 уже совершенно индивидуальным.'
        })
