include ../../mixins/main-btn

section.lw-section.hero
  .lw-container.hero__container

    h1.lw-main-title
      | КОРОБОЧНАЯ ВЕРСИЯ&nbsp;
      include ../../components/bitrix-logo

    +main-btn({
      tag: 'button',
      type: 'button',
      cls: '',
      btnText: 'Заказать внедрение'
    })
