include ../../mixins/bitrix-contain-title
include ../../mixins/price-card

section.lw-section.lw-skew-section
  .lw-container.lw-skew-section-container
    +bitrix-contain-title({
      tag: 'h2',
      prolog: 'Стоимость внедрения',
    })

    ul.price-card-list.price-card-list--fullheight
      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'ИНТЕРНЕТ-МАГАЗИН+CRM',

          price: {
            value: '109 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
              isDisabled: true
            }
          ],

          btnText: 'Заказать сейчас'
        })

      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'КОРПОРАТИВНЫЙ ПОРТАЛ 50',

          price: {
            value: '159 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
              isDisabled: true
            }
          ],

          btnText: 'Заказать сейчас'
        })

      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'КОРПОРАТИВНЫЙ ПОРТАЛ 100',

          price: {
            value: '229 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
              isDisabled: true
            }
          ],

          btnText: 'Заказать сейчас'
        })

      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'КОРПОРАТИВНЫЙ ПОРТАЛ 250',

          price: {
            value: '349 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true,
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
              isDisabled: true
            }
          ],

          btnText: 'Заказать сейчас'
        })

      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'КОРПОРАТИВНЫЙ ПОРТАЛ 500',

          price: {
            value: '599 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
              isDisabled: true
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
              isDisabled: true
            }
          ],

          btnText: 'Заказать сейчас'
        })

      li.price-card-list__item
        +price-card({
          cls: '',
          title: 'ЭНТЕРПРАЙЗ',

          price: {
            value: '1 299 000',
            priceDesc: 'руб.',
          },
          list: [
            {
              title: 'Лицензия на 12 мес.',
              isIconed: true,
            },
            {
              title: '12 пользователей',
              isIconed: true,
            },
            {
              title: 'Extranet',
              isIconed: true,
            },
            {
              title: 'Ecommerce-платформа',
              isIconed: true,
            },
            {
              title: 'Документы Онлайн',
              isIconed: true,
            },
            {
              title: 'Многодепартаментность',
              isIconed: true,
            },
            {
              title: 'Веб-кластер',
              isIconed: true,
            },
            {
              title: 'VIP поддержка 24/7',
              isIconed: true,
            }
          ],

          btnText: 'Заказать сейчас'
        })
