header.header
  .lw-container.header__container
    include ../components/main-logo

    .header__info
      .header__info-contacts
        a(href="mailto:hello@crmanalytics.ru") hello@crmanalytics.ru
        a(href="tel:+79219260260") +7 921 926 02 60

      .header__info-social
        a(href="#" rel="noopener nofollow norefferer")
          svg(width="18" height="18")
            use(xlink:href="./assets/sprite.svg#icon-chat")
        a(href="#" rel="noopener nofollow norefferer")
          svg(width="18" height="18")
            use(xlink:href="./assets/sprite.svg#icon-tg")
        a(href="#" rel="noopener nofollow norefferer")
          svg(width="18" height="18")
            use(xlink:href="./assets/sprite.svg#icon-whatsapp")

    include ../components/burger
    include ../components/main-nav
