header.header
  .lw-container.header__container
    include ../components/main-logo

    .header__info
      include ../components/contacts

      .header__info-social
        a(href="#" rel="noopener nofollow norefferer")
          svg(width="18" height="18")
            use(xlink:href="./assets/sprite.svg#icon-chat")
        include ../components/social

    include ../components/burger
    include ../components/main-nav
